/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/menulist-shared.css");

:host([native]) {
  margin: 5px 2px 3px;
  min-height: 20px;
  color: -moz-DialogText;
}

:host([native][disabled="true"]) {
  color: GrayText;
}

:host([native][disabled="true"]) > dropmarker {
  padding-inline-start: 7px !important;
}

/* Label box */

#label-box[native] {
  appearance: auto;
  -moz-default-appearance: menulist-text;
  align-items: center;
  justify-content: center;
  margin-bottom: 1px;
}

:host([native]) label {
  margin: 1px 3px;
}

:host([native]) dropmarker {
  display: none;
}
